
    <hr class="margin0" />

    <br />
    <section id="footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <img src="{{ '/images/foot_logo.gif' | prepend: site.baseurl }}" width="" height="" class="" />
                        </div>
                        <div class="col-lg-3 col-lg-offset-3 col-sm-6">
                            <h4>{{ site.data.i18n[page.language].newsletter }}</h4>
                            <p>{{ site.data.i18n[page.language].subscribe_to_nl_desc }}</p>

                            <form action=""  class="sendpress-signup" method="post">
                                <div class="exists" style="display:none;">You've already signed up, Thanks!</div>
                                <div class="error"></div>
                                <div class="thanks" style="display:none;">Check your inbox now to confirm your subscription.</div>
                                <div class="form-wrap">
                                    <div class="input-group">
                                        <input placeholder="your@email.com"  class="sp_email form-control" type="email" required name="sp_email" value="">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <em class="fa  fa-paper-plane"></em>
                                                <img class="ajaxloader" style="display:none;"  src="{{ '/images/ajax-loader.gif' | prepend: site.baseurl }}" />
                                            </button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="footrow" class="footrow">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <hr>
                        <div class="info small uppercase pull-right">
                            <div class="social_icons none">
                                <a class="linkedin" href="#"><em class="fa fa-linkedin"></em></a>
                                <a class="twitter" href="#"><em class="fa fa-twitter"></em></a>
                                <a class="gplus" href="#"><em class="fa fa-google-plus"></em></a>
                                <a class="facebook" href="#"><em class="fa fa-facebook"></em></a>
                            </div>
                        </div>
                        <p class="small uppercase c_555">&copy;2016 Cardano Foundation <br/>{{ site.data.i18n[page.language].rights }}</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div><!-- /#page -->

<script type="text/javascript" src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
