
       
    </div><!-- /#main-body -->

    <div id="footrow" class="footrow">
        <footer>
            <div class="container">
            

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <hr>


                      <div class="info small uppercase pull-right">

                          <a title="LinkedIn" href="https://www.linkedin.com/company/input-output-global">LinkedIn</a>
                          <a title="Twitter" href="https://twitter.com/InputOuput">Twitter</a>
                          <a data-toggle="modal" href="#subscribe_to_newsletter">{{ site.data.i18n[page.language].newsletter }}</a>


                                                                                  
                          <ul class="language-chooser" id="lang-chooser">
                            <li class="en"><a href="{{ site.baseurl }}{{ page.defaulturl }}" class="" title="English"><span class="none">English</span> <img src="{{ site.baseurl }}/images/flags/en.png" width="19" height="14" alt="" /></a></li>
                            <li class="ja"><a href="{{ site.baseurl }}{{ page.defaulturl }}ja/" class="" title="日本語"><span class="none">日本語</span> <img src="{{ site.baseurl }}/images/flags/ja.png" width="19" height="14" alt="" /></a></li>
                            <li class="ru"><a href="{{ site.baseurl }}{{ page.defaulturl }}ru/" class="" title="Русский"><span class="none">Русский</span> <img src="{{ site.baseurl }}/images/flags/ru.png" width="19" height="14" alt="" /></a></li>
                          </ul>
                          
                      </div>

                      <p class="small uppercase c_555 copy">&copy; 2016 {{ site.data.i18n[page.language].rights }} Input Output</p>

                    </div>
                </div>
            </div>
        </footer>
    </div>



    <div class="modal fade" id="subscribe_to_newsletter" tabindex="-1" role="dialog" aria-labelledby="subscribe_to_newsletter">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="">{{ site.data.i18n[page.language].subscribe_to_nl }}</h4>
                    </div>
                    <div class="modal-body">



                        <form action=""  class="sendpress-signup" method="post">
                            <input type="hidden" name="nr" value="widget"/>
                            <input type="hidden" name="sp_list" id="list" class="sp_list" value="116" />

                            <div id="exists" style="display:none;">You've already signed up, Thanks!</div>
                            <div id="error"></div>
                            <div id="thanks" style="display:none;">Check your inbox now to confirm your subscription.</div>
                            <div id="form-wrap">
                                <div class="input-group input-group-lg">
                                    <input placeholder="your@email.com"  class="sp_email form-control" type="email" required name="sp_email" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">{{ site.data.i18n[page.language].subscribe }} <img class="ajaxloader" style="display:none;"  src="{{ site.baseurl }}/images/redbg-ajax.gif" /></button>
                                    </span>
                                </div><!-- /input-group -->

                            </div>


                        </form>




                    </div>
                </div>
            </div>
        </div>
    </div>



</div><!-- /#page -->








<script type="text/javascript" src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/jquery.flexslider-min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/history.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/history.adapter.jquery.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/functions.js' | prepend: site.baseurl }}"></script>

