<div id="page" class="{{ page.slug }}">
  <header class="header">        
    <div id="navbar" class="navbar navbar-top navbar-default  border0" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 text-center">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navhider" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="{{ site.baseurl }}{% if page.language != 'en' %}/{{ page.language }}/{% endif %}">
                  <img class="" src="{{ '/images/cardano-logo.png' | prepend: site.baseurl }}" width="385" height="" alt="{{ site.title }}" />
                </a>
            </div>
           
            <div id="navhider" class="collapse navbar-collapse ">
              {% include nav-main.html %}
            </div>
            <hr class="margin0" />
          </div>
        </div>

        <div class="lang_switch">
                <a href="{{ site.baseurl }}{{ page.defaulturl }}" class="en" title="English">
                <span class="none">English</span> 
                <img src="{{ site.baseurl }}/images/flags/en.png" width="19" height="14" alt="" />
                </a>

                <a href="{{ site.baseurl }}{{ page.defaulturl }}ja/" class="ja" title="日本語">
                <span class="none">日本語</span> 
                <img src="{{ site.baseurl }}/images/flags/ja.png" width="19" height="14" alt="" />
                </a>
        </div>

      </div>
    </div>


    {% if page.title == 'home' %}
    
    <section id="welcome" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 text-center">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 col-md-12">

                <h1>{{ site.data.i18n[page.language].home_of }}</h1>
                <h2 class="">{{ site.data.i18n[page.language].home_desc }}</h2>
                
                <br><br>
                <img src="{{ '/images/ic_top_shield.gif' | prepend: site.baseurl }}" width="60" height="60" />
                <br><br>
                <a href="http://attaincorp.co.jp/en/" class="btn btn-default btn-lga uppercase c_fff bg_trans">&nbsp; &nbsp; {{ site.data.i18n[page.language].sales_partner }} &nbsp; &nbsp;</a><br><br>


                {{ site.data.i18n[page.language].home_sale_only }}

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% else %}

    <section id="page-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 text-left c_fff">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </section>

    {% endif %}

  </header>
        