
<div id="carousel-team" class="carousel slide" data-ride="carousel">
  <div class="controls text-center">
      <a class="left" href="#carousel-team" role="button" data-slide="prev">
	      <span class="fa fa-chevron-left" aria-hidden="true"></span>
	      <span class="sr-only"><em class="fa fa-chevron-left"></em></span>
      </a>
      <ol class="carousel-indicators inline-block">
          <li data-target="#carousel-team" data-slide-to="0"  class="active"></li>
          <li data-target="#carousel-team" data-slide-to="1" ></li>
          <li data-target="#carousel-team" data-slide-to="2" ></li>
      </ol>
      <a class="right" href="#carousel-team" role="button" data-slide="next">
	      <span class="fa fa-chevron-right" aria-hidden="true"></span>
	      <span class="sr-only"><em class="fa fa-chevron-right"></em></span>
      </a>
  </div>
  <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-6">
                  <img src="{{ '/images/team/Parsons.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle" />
              </div>
              <div class="col-lg-6 col-md-6 text-left">
                  <h2 class="uppercase">Michael Parsons FCA</h2>
                  <h4 class="uppercase big bold">{{ site.data.i18n[page.language].chairman }}</h4>
                  <div class="social_icons">
                      <a class="linkedin" href="https://uk.linkedin.com/in/michaelparsons" target="_blank"><em class="fa fa-linkedin"></em></a>                                        
                      <a class="twitter" href="https://twitter.com/BitcoinByte" target="_blank"><em class="fa fa-twitter"></em></a>
                  </div>
                  <hr class="sm" />

					{% if page.language == 'ja' %}

					<p>マイケル・パーソンズ、英国資格の公認会計士（FCA）と英国DCAの創設メンバーは、よく知られており、独立したBlockchainテクノロジー＆デジタル通貨顧問、起業家を尊重し、経験したプレゼンターです。</p>

<p>分散Blockchainの新興潜在的にユニークな視点をもって彼を提供 - 以前はロンドンのモスクワ＆PwCの中KPMGのための銀行のコンサルタントは、マイケルはまた、ドバイの銀行起動をリードするなど、25年以上の経験と運用銀行の理解を、持っています金融サービスなどの分野での元帳とCryptoCurrencyアプリケーション。</p>

					{% else %}

                  <p>Michael Parsons, a UK qualified Chartered Accountant (FCA) and founder member of the UK DCA, is a well-known and respected independent Blockchain Technology &amp; Digital Currency Advisor, Entrepreneur and experienced Presenter.</p>
<p>Previously a Banking Consultant for KPMG in Moscow &amp; PwC in London, Michael also has over 25 years experience and understanding of operational banking, including leading a bank start-up in Dubai — providing him a with a unique perspective on the emerging potential of Blockchain Distributed Ledger and CryptoCurrency applications in financial services and other areas.</p>

					{% endif %}

              </div>
          </div>
      </div>
  
      <div class="item ">
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-6">
                  <img src="{{ '/images/team/Milligan.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle" />
              </div>
              <div class="col-lg-6 col-md-6 text-left">
                  <h2 class="uppercase">Bruce Milligan</h2>
                  <h4 class="uppercase big bold"></h4>
                  <div class="social_icons">
                                                              
                  </div>
                  <hr class="sm" />

					{% if page.language == 'ja' %}


<p>ブルースは、プロジェクト管理に特化した金融技術コンサルタントである、彼は成功した技術コンサルタント会社の所有者です。過去10年間、ブルースは、彼はロイヤルバンク・オブ・スコットランド、ABNアムロ＆トムソン・ロイターなどの主要な金融サービスの顧客に技術ソリューションを提供してきましたロンドンの街に基づいていました。最近のプロジェクトは、企業のオンラインバンキングやトムソン・ロイターのためのネットワークインフラストラクチャの世界的なアップグレードのための不正防止のプラットフォームを構築し、KYC/マネーロンダリング対策システムの設計が含まれます。...</p>
				
					{% else %}

                  <p>Bruce is a financial technology consultant specialising in project management, he is the owner of a successful technology consultancy. For the last 10 years Bruce has been based in the city of London where he has delivered technology solutions to major financial services clients including Royal Bank of Scotland, ABN Amro &amp; Thomson Reuters. Recent projects include the design of KYC/Anti-Money Laundering systems, building an anti-fraud platform for corporate online banking and the global upgrade of network infrastructure for Thomson Reuters. &#8230;</p>

					{% endif %}

              </div>
          </div>
      </div>
  
      <div class="item ">
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-6">
                  <img src="{{ '/images/team/Maguire.jpg' | prepend: site.baseurl }}" width="350" height="350" class="img-circle" />
              </div>
              <div class="col-lg-6 col-md-6 text-left">
                  <h2 class="uppercase">John Maguire</h2>
                  <h4 class="uppercase big bold"></h4>
                  <div class="social_icons">
                                                              
                  </div>
                  <hr class="sm" />

					{% if page.language == 'ja' %}

                  <p>ジョンは、公共と民間の英国企業とのボードレベルでの長いキャリアの経験を持つ公認会計士です。彼は、保険、商品取引、鉱業およびプロパティを含む多くの事業部門のシニアの役割で働いています。これらの役割は、金融取締役、会社秘書、年金や投資trusteeshipsならびに非管理職を構成しています。事業開発活動は、新興企業、株式交換リストやファンド起毛が含まれています。コーポレートファイナンスの割り当てはロシアと西アフリカだけでなく、彼が形成され、自分の会社を実行している英国を含む様々な新興市場地域で行われてきました。</p>
				
					{% else %}

                  <p>John is a chartered accountant with long career experience at board level with public and private UK companies. He has worked in senior roles in many business sectors including insurance, commodity trading, mining and property; these roles have comprised finance directorships, company secretarial, pension and investment trusteeships as well as non-executive positions. Business development activities have included startups, stock exchange listings and fund raisings; corporate finance assignments have been undertaken in various emerging market territories including Russia and West Africa as well as the UK where he has formed and run his own companies.</p>

					{% endif %}

              </div>
          </div>
      </div>
  </div>
</div>