---
layout: page-contact
---       
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="middlerow" class="middlerow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 topcol">
                    <div id="io_loader">
                        <div id="io_load">
                    
                            <div class="title_block with_submenu">
                                <h1 class="">Contact</h1>
                                                            
                                {% include nav-about.html %}
                                          
                            </div>

                            <div class="row fader">
                                <div class="col-lg-3 col-md-4 col-sm-5 sidecol">
                                    <div class="text">
                                        <h2>Head Office</h2>
                                        <p>
                                            Rm. 3208 Central Plaza,<br />
                                            18 Harbour Road<br />
                                            Wanchai<br />
                                            Honk Kong
                                        </p>
                                        <div class="io_social_tag">
                                            <a href="https://www.linkedin.com/company/input-output-hik"><em class="fa fa-linkedin"></em></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="maincol col-lg-9 col-md-8 col-sm-7">

                                    <div class="post" id="post-13">
                                        <div class="entry" title="Contact">

                                            <div role="form" class="form" id="" lang="en-US" dir="ltr">

                                                <div class="screen-reader-response"></div>

                                                <form action="" method="post" class="" novalidate="novalidate">
                                                    <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="33" />
                                                    <input type="hidden" name="_wpcf7_version" value="4.3.1" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f33-p13-o1" />
                                                    <input type="hidden" name="_wpnonce" value="43362a545d" />
                                                    </div>
                                                    <div class="row contact_form">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Your Name</label><br />
                                                                <span class="wpcf7-form-control-wrap your-name">
                                                                    <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="your-name" aria-required="true" aria-invalid="false" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Your Email</label><br />
                                                                <span class="wpcf7-form-control-wrap your-email">
                                                                    <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="your-email" aria-required="true" aria-invalid="false" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Your Phone</label><br />
                                                                <span class="wpcf7-form-control-wrap your-phone">
                                                                    <input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="your-phone" aria-required="true" aria-invalid="false" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Your Subject</label><br />
                                                                <span class="wpcf7-form-control-wrap your-subject">
                                                                    <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="your-subject" aria-required="true" aria-invalid="false" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>Message</label><br />
                                                                <span class="wpcf7-form-control-wrap your-message">
                                                                    <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" id="your-message" aria-invalid="false"></textarea>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit btn btn-lg btn-primary uppercase" />
                                                        </div>
                                                    </div>
                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br><br><br><br><br>

                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
