---
layout: page-team
---       
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="middlerow" class="middlerow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 topcol">
                   <div id="io_loader">
                        <div id="io_load">

                            <div class="title_block with_submenu">
                                <h1 class="">Founders/Core team</h1>
                                {% include nav-about.html %}
                            </div>

                            <div class=" fader">
                                <div class="row">
                                    <div class="entry" title="Founders/Core team">

                                        <div class="teamslider-control">
                                            <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="nav-team-previous flex-active">1</a></li><li><a href="#" class="nav-team-next">2</a></li></ol>
                                        </div>

                                        <div class="teamslider">
                                          <ul class="slides">
                                            <li>

                                                <div class="founders">
                                                    <div class="profile profile-41 founder col-md-6 col-sm-6 smaller">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-xs-6 pull-right"><img src="/images/team/charles.png" alt="" class="img-circle fullwidth" /></div>
                                                            <div class="col-sm-6 col-xs-6">
                                                                <div class="info text-right">
                                                                    <div class="social">
                                                                        <a class="linkedin" href="https://www.linkedin.com/in/charles-hoskinson-1a95a4b4"><em class="fa fa-linkedin"></em></a>                                                            
                                                                        <a class="twitter" href="https://twitter.com/IOHK_Charles"><em class="fa fa-twitter"></em></a>
                                                                    </div>
                                                                    <h2 class="uppercase">Charles Hoskinson</h2>
                                                                    <h4 class="uppercase">Chief Executive Officer</h4>
                                                                    <h4 class="uppercase founder_tit">Founder</h4>
                                                                    <div class="bio"></div>
                                                                    <div class="contact_but">
                                                                        <a href="javascript:io_class_toggle('.profile-41','contacting')" class="btn btn-default uppercase bg_trans">Contact</a>
                                                                        <div class="none input">
                                                                            <input type="text" class="form-control text-center" value="charles.hoskinson@iohk.vrana.org" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="finger_print">
                                                                        <p>9127 C115 5C51 0163 12F1<br />C071 B882 320B 4773 711D</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="profile profile-46 founder col-md-6 col-sm-6 smaller">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-xs-6 "><img src="/images/team/jeremy.png" alt="" class="img-circle fullwidth" /></div>
                                                            <div class="col-sm-6 col-xs-6">
                                                                <div class="info ">
                                                                    <div class="social">
                                                                        <a class="linkedin" href="https://jp.linkedin.com/in/jeremykwood"><em class="fa fa-linkedin"></em></a>   
                                                                        <a class="twitter" href="https://twitter.com/iohk_jeremy"><em class="fa fa-twitter"></em></a>
                                                                    </div>
                                                                    <h2 class="uppercase">Jeremy Wood</h2>
                                                                    <h4 class="uppercase">Chief Strategy Officer</h4>
                                                                    <h4 class="uppercase founder_tit">Founder</h4>
                                                                    <div class="bio"></div>
                                                                    <div class="contact_but">
                                                                        <a href="javascript:io_class_toggle('.profile-46','contacting')" class="btn btn-default uppercase bg_trans">Contact</a>
                                                                        <div class="none input">
                                                                            <input type="text" class="form-control text-center" value="jeremy.wood@iohk.vrana.org" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="finger_print">
                                                                        <p>E92C 84E6 B03C C3EE D232<br />9F31 9CAA 1FEC 7220 D3BC</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                </

                                                </li>
                                                <li>

                                                                                                                                                                                                                                                     
                                                    <div class="profile team profile-47 col-md-3 col-sm-3 col-xs-6 text-center uppercase smaller">
                                                        <img src="/images/team/nikos.png" alt="" class="img-circle fullwidth" />
                                                        <h2>Nikos Bentenitis</h2>
                                                        <h4>Chief Operations Officer</h4>
                                                        <div class="social">
                                                            <a class="linkedin" href="https://www.linkedin.com/in/nikosbentenitis"><em class="fa fa-linkedin"></em></a>        
                                                            <a class="twitter" href="https://twitter.com/nikosbentenitis"><em class="fa fa-twitter"></em></a>                    
                                                        </div>
                                                        <div class="finger_print">
                                                            <p>BB4F A85A F6C8 0E0B 7BE8<br />58C3 A199 9C79 962F B6E4</p>
                                                        </div>
                                                        <div class="contact_but">
                                                            <a href="javascript:io_class_toggle('.profile-47','contacting')" class="btn btn-default bg_trans">Contact</a>
                                                            <div class="none input">
                                                                <input type="text" class="form-control text-center" value="nikos.bentenitis@iohk.vrana.org" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                                                                                                                                                                    
                                                    <div class="profile team profile-48 col-md-3 col-sm-3 col-xs-6 text-center uppercase smaller">
                                                        <img src="/images/team/ricky.png" alt="" class="img-circle fullwidth" />
                                                        <h2>Chikara Wakae</h2>
                                                        <h4>Chief Communications Officer</h4>
                                                        <div class="social">
                                                            <a class="linkedin" href="https://jp.linkedin.com/in/rickywakae"><em class="fa fa-linkedin"></em></a>                            
                                                        </div>
                                                        <div class="finger_print">
                                                            <p>30A4 6845 75AC 0D7B 1E11<br />FC01 529D 73DE FAAB E584</p>
                                                        </div>
                                                        <div class="contact_but">
                                                            <a href="javascript:io_class_toggle('.profile-48','contacting')" class="btn btn-default bg_trans">Contact</a>
                                                            <div class="none input">
                                                                <input type="text" class="form-control text-center" value="chikara.wakae@iohk.vrana.org" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                                                                                                                                                                    
                                                    <div class="profile team profile-42 col-md-3 col-sm-3 col-xs-6 text-center uppercase smaller">
                                                        <img src="/images/team/richard.png" alt="" class="img-circle fullwidth" />
                                                        <h2>Richard Wild</h2>
                                                        <h4>Chief Design Officer</h4>
                                                        <div class="social">
                                                            <a class="linkedin" href="https://uk.linkedin.com/in/richard-wild-a0552026"><em class="fa fa-linkedin"></em></a>        
                                                            <a class="twitter" href="https://twitter.com/IOHK_Richard"><em class="fa fa-twitter"></em></a>                    
                                                        </div>
                                                        <div class="finger_print">
                                                            <p>ED4B 3B48 147E 232E 365C<br />7E5A A51B 85DB 0A45 0FC8</p>
                                                        </div>
                                                        <div class="contact_but">
                                                            <a href="javascript:io_class_toggle('.profile-42','contacting')" class="btn btn-default bg_trans">Contact</a>
                                                            <div class="none input">
                                                                <input type="text" class="form-control text-center" value="richard.wild@iohk.vrana.org" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                                                                                                                                                                    
                                                    <div class="profile team profile-85 col-md-3 col-sm-3 col-xs-6 text-center uppercase smaller">
                                                        <img src="/images/team/tom.png" alt="" class="img-circle fullwidth" />
                                                        <h2>Tomas Vrana</h2>
                                                        <h4>Full Stack Developer</h4>
                                                        <div class="social">
                                                            <a class="linkedin" href="https://www.linkedin.com/in/tomasvrana"><em class="fa fa-linkedin"></em></a>        
                                                            <a class="twitter" href="https://www.twitter.com/tomasvrana"><em class="fa fa-twitter"></em></a>                    
                                                        </div>

                                                        <div class="finger_print">
                                                            <p>C9F0 77C2 1F20 81D1 334C<br />06C5 625E CB88 1BA6 8864</p>
                                                        </div>
                                                        <div class="contact_but">
                                                            <a href="javascript:io_class_toggle('.profile-85','contacting')" class="btn btn-default bg_trans">Contact</a>
                                                            <div class="none input">
                                                                <input type="text" class="form-control text-center" value="tomas.vrana@iohk.vrana.org" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                                                                                            
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
